---
import Icon, { type Props as IconProps } from "./Icon.astro";

/** Main menu items */
const textLinks: { label: string; href: string }[] = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/projects/" },
  { label: "About", href: "/about/" },
];

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: IconProps["icon"] }[] = [
  {
    label: "GitHub",
    href: "https://github.com/gileadekelvin",
    icon: "github-logo",
  },
  {
    label: "Twitter",
    href: "https://twitter.com/gileadekelvin",
    icon: "twitter-logo",
  },
];
---

<nav class="mb-2 items-center gap-2 md:grid md:grid-cols-3 md:px-14 md:py-10">
  <div class="flex justify-center gap-1 p-4 md:justify-between md:p-2">
    <a
      href="/"
      class="text-heading bg-gradient-to-bl from-primary to-primary bg-[length:90%_40%] bg-bottom bg-no-repeat text-center text-3xl font-bold text-gray-900 hover:from-yellow-200 hover:to-yellow-200"
    >
      Gileade Kelvin
    </a>
  </div>
  <div id="menu-content" class="contents">
    <ul
      class="m-0 flex flex-row justify-center gap-10 px-6 py-2 text-lg md:gap-6 md:p-2"
    >
      {
        textLinks.map(({ label, href }) => (
          <li>
            <a
              aria-current={Astro.url.pathname === href}
              class:list={[
                "inline-block text-gray-800 hover:text-gray-500",
                {
                  "underline underline-offset-4 decoration-2 decoration-primary":
                    Astro.url.pathname === href ||
                    (href !== "/" && Astro.url.pathname.startsWith(href)),
                },
              ]}
              href={href}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center px-6 py-4 md:justify-end md:p-2">
      <div class="wrap flex gap-8 md:gap-4">
        {
          iconLinks.map(({ href, icon, label }) => (
            <a href={href} class="text-gray-800 hover:text-gray-500">
              <span class="sr-only">{label}</span>
              <Icon icon={icon} size="24px" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>
