---
import Icon from "./Icon.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects");
const projects = allProjects.sort(
  (a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf(),
);
---

<div class="flex md:min-w-[60rem] flex-col gap-4 py-8">
  <div class="flex flex-col gap-4">
    {
      projects.map((project) => (
        <div class="flex flex-col gap-1 border-l-4 border-gray-400 px-4 py-2">
          <div>
            <a href={`/projects/${project.slug}`}>
              <h5
                class="text-gray-800 hover:text-gray-500 text-lg font-extrabold"
                transition:name={project.data.title}
              >
                {project.data.title}
              </h5>
            </a>
            <p>{project.data.subtitle ?? project.data.description}</p>
          </div>
          <div class="flex flex-row gap-4 pt-2">
            <a
              href={project.data.source}
              target="_blank"
              rel="noopener"
              class="flex flex-row text-gray-800 hover:text-gray-500"
            >
              <span class="pr-1">source</span>
              <Icon icon="github-logo" size="24px" />
            </a>
            <a
              href={project.data.url}
              target="_blank"
              rel="noopener"
              class="flex flex-row text-gray-800 hover:text-gray-500"
            >
              <span class="pr-1">View</span>
              <Icon icon="external" size="24px" />
            </a>
          </div>
        </div>
      ))
    }
  </div>
</div>
